@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color:#fff;
    line-height: 1.5;
    letter-spacing: 1px;
}
.wrapper{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('computer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.testimonial{
    padding:50px 100px;

}

article h1{
    font-size:50px;
    font-weight: 800;
    text-transform: uppercase;
}

article h1:after{
    content:"";
    height: 5px;
    width: 255px;
    background-color: #fff;
    display: block;
    margin:auto;

}

article img{
    height: 225px;
    width: 200px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 60px;

}

.blockquote{
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 30px;
}

article h5{
    font-family: "Lucida Console", "Courier New", monospace;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 30px;
}

article p{
    font-size: 17px;

}

.skills{
    display: flex;
    text-indent: 355px;
    font-weight: 700;
    font-size: 13px;
    padding: 100px 0;
}